<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>SiteDAO</servlet-name>
        <servlet-class>DAO.SiteDAO</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TeatroDAO</servlet-name>
        <servlet-class>DAO.TeatroDAO</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UsuarioDAO</servlet-name>
        <servlet-class>DAO.UsuarioDAO</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PromocaoDAO</servlet-name>
        <servlet-class>DAO.PromocaoDAO</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>cadastraSite</servlet-name>
        <servlet-class>servlets.cadastraSite</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>editaSite</servlet-name>
        <servlet-class>servlets.editaSite</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CadastraSite</servlet-name>
        <servlet-class>Controllers.SiteServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditaSite</servlet-name>
        <servlet-class>Controllers.EditaSite</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>Controllers.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CadastraTeatro</servlet-name>
        <servlet-class>Controllers.TeatroServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditaTeatro</servlet-name>
        <servlet-class>Controllers.EditaTeatro</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CadastraPromocao</servlet-name>
        <servlet-class>Controllers.PromocaoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditaPromocao</servlet-name>
        <servlet-class>Controllers.EditaPromocao</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SiteDAO</servlet-name>
        <url-pattern>/SiteDAO</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TeatroDAO</servlet-name>
        <url-pattern>/TeatroDAO</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UsuarioDAO</servlet-name>
        <url-pattern>/UsuarioDAO</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PromocaoDAO</servlet-name>
        <url-pattern>/PromocaoDAO</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>cadastraSite</servlet-name>
        <url-pattern>/cadastraSite</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>editaSite</servlet-name>
        <url-pattern>/editaSite</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CadastraSite</servlet-name>
        <url-pattern>/CadastraSite</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditaSite</servlet-name>
        <url-pattern>/EditaSite</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CadastraTeatro</servlet-name>
        <url-pattern>/CadastraTeatro</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditaTeatro</servlet-name>
        <url-pattern>/EditaTeatro</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CadastraPromocao</servlet-name>
        <url-pattern>/CadastraPromocao</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditaPromocao</servlet-name>
        <url-pattern>/EditaPromocao</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
