<div class="example-container mat-elevation-z8">
  <div class="example-loading-shade"
       *ngIf="isLoadingResults">
    <mat-spinner *ngIf="isLoadingResults"></mat-spinner>
  </div>
  <div class="button-row">
    <a mat-flat-button color="primary" (click)="siteDetalhes()"><mat-icon>info</mat-icon></a>
  </div>
  <mat-card class="example-card">
    <form [formGroup]="siteForm" (ngSubmit)="onFormSubmit(siteForm.value)">
      <mat-form-field class="example-full-width">
          <input 
            matInput 
            placeholder="Nome do site" 
            formControlName="nome" 
            [errorStateMatcher]="matcher">
          <mat-error>
            <span *ngIf="!siteForm.get('nome').valid && siteForm.get('nome').touched">
              Por favor entre o nome do site
            </span>
          </mat-error>
      </mat-form-field><!-- Nome do site -->
      <mat-form-field class="example-full-width">
        <input 
          matInput 
          placeholder="Email" 
          formControlName="username" 
          [errorStateMatcher]="matcher">
        <mat-error>
          <span *ngIf="!siteForm.get('username').valid && siteForm.get('username').touched">
            Por favor entre o email
          </span>
        </mat-error>
      </mat-form-field><!-- Email -->
      <mat-form-field class="example-full-width">
          <input 
            matInput 
            placeholder="Senha" 
            formControlName="password"
            [errorStateMatcher]="matcher">
          <mat-error>
            <span *ngIf="!siteForm.get('password').valid && siteForm.get('password').touched">
              Por favor entre a Senha
            </span>
          </mat-error>
      </mat-form-field><!-- Senha -->
      <mat-form-field class="example-full-width">
        <input 
          matInput 
          placeholder="URL" 
          formControlName="url"  
          [errorStateMatcher]="matcher">
        <mat-error>
          <span *ngIf="!siteForm.get('url').valid && siteForm.get('url').touched">
            Por favor entre com a URL
          </span>
        </mat-error>
      </mat-form-field><!-- URL -->
      <mat-form-field class="example-full-width">
        <input 
          matInput 
          placeholder="Telefone" 
          type="number"
          formControlName="telefone"  
          [errorStateMatcher]="matcher">
        <mat-error>
          <span *ngIf="!siteForm.get('telefone').valid && siteForm.get('telefone').touched">
            Por favor entre com o Telefone
          </span>
        </mat-error>
      </mat-form-field><!-- Telefone -->
      <div class="button-row">
        <button type="submit" [disabled]="!siteForm.valid" mat-flat-button color="primary"><mat-icon>save</mat-icon></button>
      </div>
    </form>
  </mat-card>
</div>

  