<div class="container-fullwidth">
  <nav class="navbar navbar-expand-lg bg-light navbar-light">
      <div class="container-fluid">
          <div class="navbar-header">
              <a [routerLink]="['/']" class="btn btn-default btn-lg">Home</a>
              <a [routerLink]="['/promocoes']" class="btn btn-default btn-lg">Promoções</a>
              <a [routerLink]="['/sites']" class="btn btn-default btn-lg">Sites</a>
              <a [routerLink]="['/teatros']" class="btn btn-default btn-lg">Teatros</a>
          </div>
      </div>
  </nav>
</div>