<div class="example-container mat-elevation-z8">
  <div class="example-loading-shade" *ngIf="isLoadingResults">
    <mat-spinner *ngIf="isLoadingResults"></mat-spinner>
  </div>
  <div class="button-row">
    <a mat-flat-button color="primary" [routerLink]="['/teatros']">
      <mat-icon>list</mat-icon>
    </a>
  </div>
  <mat-card class="example-card">
    <mat-card-header>
      <mat-card-title>
        <h2>{{teatro.nome}}</h2>
      </mat-card-title>
      <mat-card-subtitle>Contato: {{teatro.username}}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <dl>
        <dt>Cidade:</dt><dd>{{teatro.cidade}}</dd>
        <dt>CNPJ:</dt><dd>{{teatro.cnpj}}</dd>
      </dl>
    </mat-card-content>
    <mat-card-actions *ngIf="jwt.isAdmin || jwt.isOwner(teatro.username) ">
      <a mat-flat-button color="primary" [routerLink]="['/teatro-edicao', teatro.id]">
        <mat-icon>edit</mat-icon>
      </a>
      <a mat-flat-button color="warn" (click)="tentaDeletar(teatro.id, teatro.cnpj)">
        <mat-icon>delete</mat-icon>
      </a>
    </mat-card-actions>
  </mat-card>
</div>
